<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OdReverseDelay (AU).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>OdReverseDelay (All).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>OdReverseDelay (Shared Code).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>OdReverseDelay (VST).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>24FC27D45A4413680043BBE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>257B60339C0952E37A1F9E0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E4700139C7B36B3C0F1AD65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>790EECF04F7E535C0A78976F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
